
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-img {
  width: 100%;
  background-image: url("../images/your_verse_hero.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  padding: 40px 0;
  grid-template-areas:
    "nav nav nav"
    "content content content";
}

nav {
  max-width: 1200px;
  margin: auto;
  grid-area: nav;
}

nav ul {
  padding: 0;
  border-radius: 10px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background:
    linear-gradient(
      180deg,
      #888 29%,
      #808080 50%,
      #808080 50%,
      #707070 51%,
      #636060 29%
    );
}

nav ul > li {
  background:
    linear-gradient(
      180deg,
      rgb(136, 136, 136) 29%,
      rgba(112, 114, 112, 1) 50%,
      rgb(128, 128, 128) 50%,
      rgba(112, 112, 112, 1) 51%,
      rgb(99, 96, 96) 29%
    );
  padding: 0 30px;
  color: #eae9e9;
  box-shadow: -1px 0 0 1px rgba(154, 154, 154, 0.47);
  border-right: 1px solid rgba(0, 0, 0, 0.88);
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li:first-child i {
  font-size: 20px;
}

nav ul li:first-child {
  border-radius: 5px 0 0 5px;
}

nav ul li:last-child {
  border-radius: 0 5px 5px 0;
  padding: 5px 5px;
}

nav ul li form {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

form button {
  position: absolute;
  left: 15%;
}

nav ul li form button,
input {
  border: 0;
  color: white;
  background: 0;
}

form input {
  box-shadow: 0 -1px 5px 0 rgb(66, 63, 63);
  background-image:
    linear-gradient(
      180deg,
      rgb(136, 136, 136) 29%,
      rgba(112, 114, 112, 1) 50%,
      rgb(128, 128, 128) 50%,
      rgba(112, 112, 112, 1) 51%,
      rgb(99, 96, 96) 29%
    );
  border-radius: 50px;
  padding: 3px 0;
  transition: ease-in-out 0.3s;
  width: 110px;
  margin: 0 10px;
}

form input:focus {
  background: transparent;
  width: 120%;
  border: none;
  outline: none;
  padding-left: 45px;
  color: white;
}

.header-content {
  display: grid;
  grid-area: content;
  grid-template-areas:
    "h1 h1 h1"
    "h2 h2 h2"
    "h3 h3 h3";
}

.header-content > * {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
}

.header-h1 {
  font-size: 50px;
  grid-area: h1;
}

.header-h2 {
  font-size: 30px;
  grid-area: h2;
}

.header-h3 {
  font-size: 25px;
  grid-area: h3;
}

a {
  text-decoration: none;
  color: rgb(0, 136, 204);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(100px, auto);
  grid-template-areas: "a1 a2 a3 a4";
}

.a1 {
  grid-area: a1;
  background-image: url("../images/5s.png");
  width: 100%;
}

.a2 {
  grid-area: a2;
  background-image: url("../images/5c.jpg");
  width: 100%;
}

.a3 {
  grid-area: a3;
  background-image: url("../images/3apple.jpg");
  width: 100%;
}

.a4 {
  grid-area: a4;
  background-image: url("../images/imac.jpg");
  width: 100%;
}

.a1,
.a2,
.a3,
.a4 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.flex-container {
  margin: 15px 0;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-right > .span {
  border-right: 1px solid #ccc;
  padding-right: 8px;
  padding-left: 8px;
}

.flex-container p,
.flex-container a,
.footer-terms span,
.footer-terms a {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 400;
  overflow: hidden;
}

.footer-right .spanImage {
  padding-left: 8px;
}

.footer-right img {
  width: 15px;
}

.online {
  margin-bottom: 10px;
}
.footer-terms a { margin-right: 5px; }

@media only screen and (min-width: 600px) {
  .container {
    grid-template-rows: 150px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    grid-template-rows: 200px;
  }
}

@media only screen and (min-width: 1020px) {
  .container {
    grid-template-rows: 250px;
  }
}
