* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana; 
}

header {
  background-image: url('../images/your_verse_hero.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh; */
  display:grid;
  grid-template-areas: 
  "nav nav nav"
  "h1 h1 h1 "
  "h2 h2 h2 "
  "h3 h3 h3 ";
  grid-template-columns:1fr;
  text-align:center;
  padding: 60px 0;
}
nav{
  width:80%;
  margin: 0 auto;
  grid-area: nav;
}
nav ul {
  display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: linear-gradient(180deg, rgb(136, 136, 136) 29%,rgba(112,114,112,1) 50%, rgb(128, 128, 128) 50% ,rgba(112,112,112,1) 51%, rgb(99, 96, 96) 29%);
  }
  
  nav ul > li {
    background: linear-gradient(180deg, rgb(136, 136, 136) 29%,rgba(112,114,112,1) 50%, rgb(128, 128, 128) 50% ,rgba(112,112,112,1) 51%, rgb(99, 96, 96) 29%);
    padding:0px 36px;
    color: #eae9e9;
  box-shadow:0px 0px 1px 1px rgba(154, 154, 154, 0.47);
  border-right: 1px solid black;
  font-size: 15px;
  font-weight: 900;
  display: flex;
  align-items: center;
}
nav ul li:first-child i{
  font-size:25px;
}
nav ul li:last-child{
  border-right: 0;
  padding: 0 10px;
}
nav ul li:first-child{
  border-radius: 5px 0 0 5px;
}
nav ul li:last-child{
  border-radius: 0 5px 5px 0;
  padding: 5px 10px;
 }
 nav ul li form{
   display:flex;
   align-items: center;
   position:relative
  }
 nav ul li form button,input {
   border:0;
   color:white;
   background: 0;
 }
 form button{
   position: absolute;
   left: 5%;
 }
 form input{
  border: 1px solid black;
  box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
  background: linear-gradient(180deg, rgb(136, 136, 136) 29%,rgba(112,114,112,1) 50%, rgb(128, 128, 128) 50% ,rgba(112,112,112,1) 51%, rgb(99, 96, 96) 29%);
  border-radius: 50px;
  padding: 5px;
  transition: ease-in-out 0.3s;
  width: 70%;
 }
 form input:focus{
   background: white;
   width: 100%;
   
 }
 .header-content{
   text-align:center;

  }
  .header-content h1{
  font-size: 70px;
  font-weight: 100;
  color: white;
  font-family: "Open Sans", sans-serif;
  grid-area: h1;
 }
 .header-content h2{
   font-weight: 100;
   font-size:35px;
   color:white;
   font-family: "Open Sans", sans-serif;
   padding: 40px 0;
   grid-area: h2;
 }
 .header-content h3{
   font-size: 24px;
   color: white;
   font-family: "Open Sans", sans-serif;
   grid-area:h3;
 }